.footer {
    background-color: $footerBcgColor;
    padding-top: 60px;
    padding-bottom: 60px;

    &__container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 15px;
        @media screen and (max-width: calc($tablet - 1px)) {
            flex-direction: column;
            gap: 60px;
        }
        @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
            justify-content: space-around;
            gap: 60px;
        }
        // @media screen and (min-width: $tablet) {
          
        // }
    }
   
}

.title--footer {
    display: block;
    @media screen and (max-width: calc($desktop - 1px)) {
        text-align: center;
    }
    margin-top: 0;
    margin-bottom: 20px;

    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: $whiteColor;
}
.address {
    text-align: center;
    // margin-bottom: 60px;
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: column;
        width: 231px;
        text-align: start;
        margin-bottom: 0;

    }

    &__list {
        @extend %list;
    }
    &__link {
        @extend %link;
        color: $whiteColor;
        transition: color $transitionTimeCubic;
    }
    &__contact {
        @extend %link;
        margin-top: 8px;
        color: $footerTextColor;

        @media screen and (min-width: $desktop) {
        margin-top: 9px;
        }
    }
}

.join {
    @media screen and (max-width: calc($tablet - 1px)) {
        // margin-bottom: 60px;
    }
    @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px) ) {
        // margin-top: 5px;
        // margin-right: 89px;
    }
    @media screen and (min-width: $desktop) {
    margin-top: 12px;
    margin-left: 70px;
    }

    &__socials {
        margin: 0 auto;
        text-align: center;
        gap: 10px;
     }
}
.socials__link--footer {
    color: $whiteColor;
    background-color: rgba(255, 255, 255, 0.1);
}
 .footer__subscribe {
    margin: 0 auto;
    @media screen and (max-width: calc($tablet - 1px)) {
            width: 100%;
        }
    @media screen and (min-width: $desktop) {
        margin-top: 12px;
        margin-left: 93px;
    }
 }
.subscribe__form {
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row;
    }
}


// .subscribe-field {

//     @include font (400, 16px, 1.25, 0.03em);
//     // font-weight: 400;
//     // font-size: 16px;
//     // line-height: 1.25;
//     // letter-spacing: 0.03em;

//     color: rgba(255, 255, 255, 0.6);

//     background: transparent;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
// }

// .subscribe-field::placeholder {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.25;
//     letter-spacing: 0.03em;

//     color: rgba(255, 255, 255, 0.6);
// }

// .subscribe-field:hover,
// .subscribe-field:focus,
// .subscribe-field:focus-visible {
//     border: 1px solid var(--accent-color);
//     outline: none;
// }

// .form-btn {
//     display: flex;
//     align-items: center;
//     width: 200px;
//     height: 50px;

//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.88;
//     letter-spacing: 0.06em;

//     cursor: pointer;
// }





