.navigation {
    display: flex;
    align-items: center;
}
.logo {
    @extend %link;
    font-family: $ralewayFont;
    @include font (700, 26px, 1.19, 0.03em);

    color: $accentColor;

    &--header {
        display: flex;
        align-items: center;
        color: $accentColor;
        transition: color $transitionTimeCubic;
    }
    &--footer {
        margin-bottom: 20px;
    }
}
.logo__studio {
    color: $titleTextColor;

    &--footer {
        color: $whiteColor;
    }
}
.header {
    width: 100%;

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        height: 60px;
        border-bottom: 1px solid $headerBorderColor;

        @media screen and (min-width: $tablet) {
            height: 80px;
        }
    }
    &__navigation {
        @media screen and (max-width: calc($tablet - 1px)) {
            display: none;
        }

        @extend %list;
        display: flex;
        align-items: center;
        margin-left: 87px;

        @include desktop {
            margin-left: 93px;
        }
    }
    &__item:not(:first-of-type) {
        margin-left: 50px;
    }
    &__contacts {
        @extend %list;

        display: flex;
        align-items: flex-start;
        margin-left: auto;
        margin-right: 0;

        @media screen and (max-width: calc($tablet - 1px)) {
            display: none;
        }

        @media screen and (max-width: calc($desktop - 1px)) {
            flex-direction: column;
        }
    }
    &__element:first-child {
        @media screen and (max-width: calc($desktop - 1px)) {
            margin-bottom: 10px;
        }
        @include desktop {
           margin-right: 30px;
        }

        // margin-left: 30px;
    }
    &__note {
        @extend %link;
        display: flex;
        align-items: center;

        @include font (500, 12px, 1.17, 0.02em);
       
        transition: color $transitionTimeCubic;

        @include desktop {
            @include font (null, 14px, 1.14, null);
            }
    }
    &__icon {
        display: flex;
        align-items: center;
        margin-right: 10px;

        fill: currentColor;
    }
    &__icon--email {
        height: 10px;
    }

    &__icon--tel {
        height: 14px;
    }
    @include desktop {
        &__icon--email {
            height: 12px;
        }
        &__icon--tel {
            height: 16px;
        }
    }
}
.header__link {
    @extend %link;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    @include font (500, 14px, 1.14, 0.02em);

    color: $titleTextColor;
    transition: color $transitionTimeCubic;
    &--current {
        color: $accentColor;
    }
    &--current:after {
        content: " ";
        position: absolute;
        left: -2px;
        bottom: -1px;
        width: calc(100% + 4px);
        height: 4px;

        background-color: $accentColor;
        border-radius: 2px;
    }
}


    
