.menu__btn-open {
    // position: absolute;
    // right: 10px;
    // top: 10px;
    margin: 10px 10px 10px auto;
    z-index: 5;
    display: inline-flex;
    padding: 0;
    border: 0;
    background-color: transparent;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}
.menu__container {
    background-color: $whiteColor;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 101%;
    margin: 0 -1px;
    // height: 796px;
    text-align: start;
    z-index: 10;
   

    @include tablet {
            display: none;
        }

    &.is-hidden {
        display: none;
     }
}
.menu__wrap {
    @media screen and (max-width: 480px) {
        padding: 48px 20px;
    }

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 48px 80px 48px 40px;
    @include mobile {
        max-width: 480px;
    }
}
.menu__btn-close {
    // margin: 10px 10px 10px auto;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
    display: inline-flex;
    padding: 0;
    border: 0;
    background-color: $whiteColor;

    // @media screen and (min-width: $tablet) {
    //     display: none;
    // }
}
// NAVIGation
.menu__navigation {
    @extend %list;
}
.menu__item:not(:last-of-type) {
    margin-bottom: 32px;
}
.menu__link {
    @extend %link;
    @include font (500, 40px, 1.18, 0.02em);
    color: $titleTextColor;
    transition: color $transitionTimeCubic;

    &--current {
    color: $accentColor;
    margin-bottom: 36px;
}
}
.menu__contacts {
     @extend %list;
 }
.menu__note {
    @extend %link;
    &--tel {
        @media screen and (max-width: 480px) {
            @include font (500, 30px, 1.12, 0.01em);
        }
        margin-bottom: 32px;
        @include font (500, 34px, 1.12, 0.02em);
        color: $accentColor;

    }
    &--email {
        margin-bottom: 64px;
        @include font (500, 24px, 1.17, 0.02em);
    }
}
    



// SOCIALS
.menu__social-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    @extend %list;
    width: 100%;
    

}
.menu__soc-item {
    display: inline-block;
    &:not(:last-of-type) {
        margin-right: 20px;
    }
}
.menu__soc-link {
    @extend %link;
    @include font (500, 18px, 1.22, 0.02em);
    color:$accentColor;
}
      
//         &.is-open {
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;
//             height: 796px;
//         }
      
//     @media screen and (min-width: $tablet) {
//         display: flex;
//         flex-grow: 1;
//         justify-content: space-between;
//         // flex-direction: row;
//     }
// }



//     & .menu__icon--close {
//         display: none;
//     }

//     &.is-open .menu__icon--close {
//         display: block;
      
//     }

//     &.is-open .menu__icon--menu {
//         display: none;
//     }
// }

