@mixin font ($f-w, $f-s, $l-h, $l-s) {
    font-weight: $f-w;
        font-size: $f-s;
        line-height: $l-h;
        letter-spacing: $l-s;
}

@mixin mobile {
    @media screen and (min-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

@mixin retina {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}